.profile__info {
  display: grid;
  grid-template-columns: 1fr 24px;
  grid-area: info;
  column-gap: 18px;
  row-gap: 6px;
}

@media (max-width: 700px) {
  .profile__info {
    column-gap: 10px;
  }
}
