.footer {
  max-width: 880px;
  margin: 0 auto;
  padding-bottom: 60px;
  padding-top: 67px;
  box-sizing: border-box;
}

@media (max-width: 767px) {
  .footer {
    padding-top: 48px;
    padding-bottom: 36px;
    line-height: 36px;
    width: calc(100% - 38px);
  }
}
